* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    width: 960px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png")
}
header {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    display: block;
    position:relative;
    height: 100px;
}
.name {
    background-color: #4aaaa5;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0px;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 20px;
    display: inline-block;
    margin-top: 0px;
}
header a {
    margin-left: 20px;
}
.navigation {
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 40px 20px;
}
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
}
.content {
    background-color:  #ffffff;
    border-color: #dddddd;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-top: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .aboutme {
      line-height: 2;
  }
.aboutme img {
    float: left;
    margin-right: 20px;
}
form label{
    line-height: 2;
}
form #name input {
    padding-left: 500px;
}
footer {
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    text-align: center;
    background-color: #666666;
    color: #cccccc;
    text-transform: capitalize;
    left: 0%;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}